.message {
    width: 1280px;
    height: 60px;
    left: 0px;

}

.imageAndText {

}

.imageAndText img {
    width: 48px;
    height: 48px;

}

.text {

}

.text:after {

}

.name {

}

.messageText {

}

.time {

}